<footer>
  <p class="built-by">
    <%= "Built by <a href=\"https://github.com/#{@gist[:gist_owner]}\">#{@gist[:gist_owner]}</a>" if @gist[:gist_owner] %>
  </p>

  <p class="app-link">
    <a href="http://sassmeister.com/gist/<%= @gist[:gist_id] %>">
      <span class="cta">Play with this gist on</span> <%= File.read('svg/sassmeister.svg') %>
    </a>
  </p>
</footer>
