$caret-down-icon: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iOSIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE4IDMyIj4JPHBhdGggZD0iTTE4LjI4NiAxMi41NzFxMCAwLjQ2NC0wLjMzOSAwLjgwNGwtOCA4cS0wLjMzOSAwLjMzOS0wLjgwNCAwLjMzOXQtMC44MDQtMC4zMzlsLTgtOHEtMC4zMzktMC4zMzktMC4zMzktMC44MDR0MC4zMzktMC44MDQgMC44MDQtMC4zMzloMTZxMC40NjQgMCAwLjgwNCAwLjMzOXQwLjMzOSAwLjgwNHoiIGZpbGw9IiM3MDcwNzAiPjwvcGF0aD48L3N2Zz4=);

$caret-up-icon: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iOSIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE4IDMyIj4JPHBhdGggZD0iTTE4LjI4NiAyMS43MTRxMCAwLjQ2NC0wLjMzOSAwLjgwNHQtMC44MDQgMC4zMzloLTE2cS0wLjQ2NCAwLTAuODA0LTAuMzM5dC0wLjMzOS0wLjgwNCAwLjMzOS0wLjgwNGw4LThxMC4zMzktMC4zMzkgMC44MDQtMC4zMzl0MC44MDQgMC4zMzlsOCA4cTAuMzM5IDAuMzM5IDAuMzM5IDAuODA0eiIgZmlsbD0iIzcwNzA3MCIvPjwvc3ZnPg==);

$checkmark-icon: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAzMiAzMiI+CTxwYXRoIGZpbGw9IiM3MDcwNzAiIGQ9Ik04LjU2NCAyNi45MDRjLTIuODQ5LTIuOS02LjY2Ny02LjY5My04LjIyMS04LjI4Ny0wLjM2NS0wLjMzLTAuMzYzLTEuMDU2LTAuMjI2LTEuNDA2IDAuMTEzLTAuMjkxIDMuNDktMy42MzEgMy43OTQtMy43ODYgMC4yODQtMC4xNDUgMC43OTEtMC4yMzggMS4yODUgMC4wNjEgMC4xNDQgMC4wODcgMy42NDkgMy42MTMgNS41MjMgNS40NzcgMC44MDEgMC40OTIgMS4yMzEgMC4xNjMgMS41NjctMC4wODMgNy4wMTItNy4wMjEgMTQuMTcxLTE0LjIwMSAxNC40MzItMTQuNDA0IDAuMjU4LTAuMjAxIDAuNzIzLTAuNDE3IDEuNDIzLTAuMTQ3IDAuNDIzIDAuMzY3IDIuMzg1IDIuMzA4IDMuNTk1IDMuNTQgMC4zMDkgMC4yNzkgMC4zMTcgMS4xMjItMC4wMjUgMS41NDctMC45OTcgMS4wNTAtMTQuODQ5IDE0LjkwNS0xNy41NTMgMTcuNTc1LTEuNDkgMS4xMzQtNC4xNTkgMS4wNDAtNS41OTQtMC4wODh6Ii8+PC9zdmc+);


@mixin theme-container-border() {
  @include border_radius($border-radius);

  border: 1px solid #aaa;
}

@mixin theme-inner-border() {
  @include border_radius(3px);

  -moz-background-clip   : padding;
  -webkit-background-clip: padding-box;
  background-clip        : padding-box;
  border: 1px solid $golf_gray;
}

@mixin theme-active-container() {
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
  -moz-box-shadow   : 0 0 5px rgba(0,0,0,.3);
  box-shadow        : 0 0 5px rgba(0,0,0,.3);
  border: 1px solid $alpha_color_charlie;
}

.fancy_dropdown {
  @include sm_border_radius($border-radius);


  border: 1px solid #aaa;
  background-color: #fff;
  width: 50%;
  position: relative;
  display: inline-block;
  padding:0;
  text-align: left;

  // -
  @include theme-container-border();
  vertical-align: middle;
  height: 32px;
  line-height: 32px;
  font-family: $primary_font_family;

  > span {
    width: 100%;
    display: block;
    padding: 0 0 0 1em;
    position: relative;
    cursor: pointer;
    height: 1.5em;

    // -
    padding: 0 0 0 0.5em;
    vertical-align: middle;
  }

  > span:after {
    width: 3em;
    position: absolute;
    right: 0;
    border-left: 1px solid $golf_gray;


    @include linear_gradient_w3c (#e4e4e4, #{#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%}, $caret-down-icon);
    background-repeat: no-repeat;
    background-position: 50% 50%;

    line-height: 1.5;
    -webkit-background-clip: padding-box;
       -moz-background-clip: padding;
            background-clip: padding-box;
    @include sm_border_radius($border-radius, $corner: top-right);
    @include sm_border_radius($border-radius, $corner: bottom-right);

    // -
    @include sm_border_radius($border-radius, $corner: top-right);
    @include sm_border_radius($border-radius, $corner: bottom-right);
    font-size: 1em;
    width: 1.5em;
    line-height: 30px;
    content: '\00a0';
  }

  // -
  div {
    background: $white;
    border: 1px solid #aaa;
    border-top: 0;
    position: absolute;
    z-index: 10;
    margin-bottom: 2em;
  }

  ul {
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;

    // -
    max-height: em(140);
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  ul li {
    width: 100%;
    line-height: 1.5em;

    // -
    display: none;
    line-height: 15px;
    padding: 5px 6px;
    margin: 0;
    list-style: none;
    cursor: pointer;
    display: list-item;
  }

  // -
  li:hover {
    background-color: $alpha_color_delta;
    color: #fff;
  }

  ul li:last-child > span {
    @include sm_border_radius($border-radius, $corner: bottom-left);
    @include sm_border_radius($border-radius, $corner: bottom-right);
  }

  &.active {
    > span:after {

      @include linear_gradient_w3c (#e4e4e4, #{#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%}, $caret-up-icon);
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }

    ul li span {
      @include transition(all, 0.1s, linear, 0s);
    }
  }
}

input[type="checkbox"] {
  @include border_radius($border-radius * 2.25);

  border: 1px solid #aaa;
  height: 2em;
  width: 2em;
  display: inline-block;
  -webkit-appearance: none;
  background: linear-gradient(to bottom, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  outline: none;

  &:after {
    content: '\00a0';
    padding: 0;
    line-height: 2;
    display: block;
    width: 100%;
    height: 100%;
  }

  &:checked:after {
    background: $checkmark-icon;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}